@{ 
    ViewBag.Title = "Home";
}
<div class="jumbotron">
    <h1>API OldLot</h1>
    <p class="lead">A API RESTful da sua coleção de veículos antigos.</p>
    <p><a href="@Url.Action("Index", "Help", new { area = "" })" class="btn btn-primary btn-lg">Documentação &raquo;</a></p>
</div>
