@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>OldLot</h1>
    <p>A sua coleção de veículos antigos</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>Administre sua coleção</h3>
        <p>Cadastre seus veículos para registrar sua coleção.</p>
    </div>
    <div class="col-md-9">
        <h3>Recursos</h3>
        <ul>
            <li>Cadastro de fabricantes</li>
            <li>Cadastro de tipos de veículo</li>
            <li>...</li>
        </ul>
    </div>
</div>